<div class="listing-item-container">
  <div class="list-item">Timesheet Application</div>
  <div class="list-item">Create Back-End Service</div>
  <div class="list-item">Mariam Mohammad</div>
  <div class="list-item half">12-01-2023</div>
  <div class="list-item half">12-01-2023</div>
  <div class="list-item cta">
    <p>In Progress</p>
    <!-- <fa-icon [icon]="'pen-to-square'"></fa-icon> -->
    <div class="btns-container">
      <button class="btn-edit">
        <mat-icon>edit_note</mat-icon>
      </button>
      <button class="btn-delete">
        <mat-icon>delete</mat-icon>
      </button>
    </div>
  </div>
</div>
