<div class="listing-item-container">
  @if(carDetail){

  <div (click)="handleNavigate(carDetail.id)" class="list-item">
    {{ carDetail.id }}
  </div>
  <div (click)="handleNavigate(carDetail.id)" class="list-item">
    {{ carDetail.brand }}
  </div>
  <div (click)="handleNavigate(carDetail.id)" class="list-item">
    {{ carDetail.model }}
  </div>
  <div (click)="handleNavigate(carDetail.id)" class="list-item">
    {{ carDetail.variant }}
  </div>
  <div (click)="handleNavigate(carDetail.id)" class="list-item">
    {{ carDetail.transmission }}
  </div>
  <div (click)="handleNavigate(carDetail.id)" class="list-item">
    {{ carDetail.manufacture_year }} <span>></span>
  </div>
  }
</div>
