@if (addForm) {
<div>
  <app-add-form
    (closeAddForm)="toggleAddForm(false)"
    (refreshListing)="refreshListing()"
  ></app-add-form>
</div>
}

<div class="page home">
  <!-- <div>
    <app-search></app-search>
  </div> -->

  <div>
    <button type="button" (click)="toggleAddForm(true)">Add New Car</button>
  </div>

  <div class="listings">
    <app-listing-header></app-listing-header>
    <div>
      @for (car of cars; track $index) {
      <app-listing-item [carDetail]="car"></app-listing-item>
      }
    </div>
  </div>
</div>
