@if (editForm) {
<div>
  <app-edit-form
    [existingCar]="carDetail"
    (closeEditForm)="toggleEditForm(false)"
    (refreshListing)="refreshListing()"
  ></app-edit-form>
</div>
} @if (deleteDialog) {
<div>
  <app-delete-confirmation
    [carId]="carDetail.id || 0"
    (handleCloseDelete)="toggleDeleteDialog(false)"
  ></app-delete-confirmation>
</div>
}

<p>Car detail page: {{ carId }}</p>

<div class="btn-container">
  <button type="button" (click)="toggleEditForm(true)">
    Update Car Detail
  </button>
  <button class="delete-btn" type="button" (click)="toggleDeleteDialog(true)">
    Delete Car
  </button>
</div>

<div>
  <table class="info-table">
    <tr>
      <td class="title">Brand</td>
      <td class="data">{{ carDetail.brand }}</td>
    </tr>
    <tr>
      <td class="title">Model</td>
      <td class="data">{{ carDetail.model }}</td>
    </tr>
    <tr>
      <td class="title">Variant</td>
      <td class="data">{{ carDetail.variant }}</td>
    </tr>
    <tr>
      <td class="title">Transmission</td>
      <td class="data">{{ carDetail.transmission }}</td>
    </tr>
    <tr>
      <td class="title">Manufacture Year</td>
      <td class="data">{{ carDetail.manufacture_year }}</td>
    </tr>
  </table>
</div>
@if (carId) {
<qr-code [value]="carId" size="300" errorCorrectionLevel="M"></qr-code>
}
